
.main-content{
    background: #C2F9D5;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 8% ;
    padding-left: 8%;
}
.contenedor{
    background-color: #4abe78;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: -10px 10px 30px black;
    align-items: flex-start;
}

fieldset{
    border: 0;
    padding: 0;
}
.gradiente{
    width: 100%;
    align-self: start;
    height: 1.25rem;
    background:  linear-gradient(90deg, rgba(57,125,84,1) 0%, rgba(91,194,132,1) 10%, rgba(36,88,57,1) 25%, rgba(89,199,133,1) 40%,
    rgba(51,106,73,1) 55%, rgba(74,190,120,1) 70%, rgba(34,113,65,1) 85%, rgba(127,244,173,1) 100%);
    
}
.encargo{
    width: 70%;
}
.nube{
    background: rgb(127,244,173);
    background: linear-gradient(225deg, rgba(127,244,173,1) 0%, rgba(34,113,65,1) 51%);
    overflow: hidden;
    padding: 0px;
    width: 14.375rem;
    height: 9.375rem;
    float: left;
    border-radius: 50px 0px 50px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 50px 0px 50px 0px; 
    
    box-shadow: -4px 3px 5px #227141;
}
.duda{
    margin-top: 0.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.duda > div{
    margin-top: 0.3125rem;
}
.duda > .texto{


    font-family: 'Trocchi', serif;
}
h3{
    font-family: 'Merienda', cursive;  
}
.redes{
    display: flex;
}

.redes > div{
    margin-left: 0.625rem;
}
i{
    float: left;
    margin-top: 0.625rem;
    font-family: none;
    color: black;
    width: 100%;
    font-size: 30px;
}
i:hover{
    
    font-size: 35px;
}


#arreglosFlores{
    display: none;
}
#floresPlantas{
    display: none;
}
#otros{
    display: none;
}

#radio1:checked ~ #arreglosFlores {
    display: block;
}
  
#radio2:checked ~ #floresPlantas {
    display: block;
}
  
#radio3:checked ~ #otros {
    display: block;
}
#radio3:checked ~ .contenedor {
    height: 0;
}

h1{
    font-size: 60px;
    text-align: center;
    margin-left: 4%;
    margin-top: 5%;
    font-family: 'Marck Script', cursive;
}
.rellenar > div{
    margin-top: 2.8125rem;
    margin-left: 5%;
    
}
.n > input{
    margin-left: 0.625rem;
    width: 21.875rem;
    height: 1.5625rem;
    border: 0;
    margin-top: 0.625rem;
}
.c > input{
    margin-left: 0.625rem;
    width: 21.875rem;
    height: 1.5625rem;
    border: 0;
    
    margin-top: 0.625rem;
}
.s > p{
    font-size: 25px;
}
.botones{
    margin: 1.25rem;
}
.s>input{
    margin-top: 0.625rem;
}

.s > div{
    border-top: 1.25rem rgb(74,190,120); solid;
    text-align: center;
    margin-top: 0.625rem;
    width: 100%;
    background: linear-gradient(90deg, rgba(74,190,120,1) 0%, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 73%, rgba(74,190,120,1) 100%);
    padding: 1.25rem;
}
#arreglosFlores > div{
    margin-top: 0.9375rem;
}
#floresPlantas > div{
    margin-top: 0.9375rem;
}
#otros > div{
    margin-top: 0.9375rem;
}
.m > p{
    margin-top: 0.9375rem;

}
.botones{
    text-align: center;
}
.botones > input{
    font-size: 15px;
    border: 0;
    width: 5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(57,125,84,1) 0%, rgba(74,190,120,1) 100%);
;
    margin: 8px;
}
.botones > input:hover{
    border-radius: 50%;
    background: #397D54;


}
.s > div > .m > label{
    vertical-align: top;

}
label{
    font-family: 'Trocchi', serif;
}

