
.main-content{
    background: #C2F9D5;
    padding: 2% 8%;
}
.contenedor{
    background-color: #4abe78;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: -10px 10px 30px black;
}

.gradiente{
    width: 100%;
    height: 1.25rem;
    background:  linear-gradient(90deg, rgba(57,125,84,1) 0%, rgba(91,194,132,1) 10%, rgba(36,88,57,1) 25%, rgba(89,199,133,1) 40%,
    rgba(51,106,73,1) 55%, rgba(74,190,120,1) 70%, rgba(34,113,65,1) 85%, rgba(127,244,173,1) 100%);
    z-index: 1;
}
.encargo{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width:100%;

}

form { 
    width: 100%; 
}

.nube{
    background: linear-gradient(225deg, rgba(127,244,173,1) 0%, rgba(34,113,65,1) 51%);
    overflow: hidden;
    width: 14.375rem;
    height: 9.375rem;
    border-radius: 50px 0px 50px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 50px 0px 50px 0px; 
    box-shadow: -4px 3px 5px #227141;
}
.duda{
    margin-top: 0.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.duda > div{
    margin-top: 0.3125rem;
}
.duda > .texto{
    font-family: 'Trocchi', serif;
}
h3{
    font-family: 'Merienda', cursive;  
}
.redes{
    display: flex;
}
.redes > div{
    margin-left: 0.625rem;
}
i{
    margin-top: 0.625rem;
    font-family: none;
    color: black;
    font-size: 30px;
}
i:hover{
    font-size: 35px;
}

#arreglosFlores, #floresPlantas, #otros{
    display: none;
}

#checkbox1:checked ~ #arreglosFlores, #checkbox2:checked ~ #floresPlantas, 
#checkbox3:checked ~ #otros  {
    display: block;
}

h1{
    font-size: 60px; 
    text-align: center;
    margin-left: 20%;
    margin-top: 5%;
    font-family: 'Marck Script', cursive;
}
.rellenar > div{
    margin-top:1.5rem;
    margin-left: 5%;
}

.caja { 
    width: 21.875rem;
    height: 1.5625rem;
    border: 0;
}

.nombre_formulario > input{
    margin-left: 5.8rem;
}
.correo > input{
    margin-left: 0.625rem;
}
.selector > p{
    font-size: 25px; 
}
.botones{
    margin: 1.25rem;
    text-align: center;
}
.selector>input{
    margin-top: 0.625rem;
}

.selector > div{
   text-align: center;
    margin-top: 1.25rem; 
    width: 90%;
    background: linear-gradient(90deg, rgba(74,190,120,1) 0%, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 73%, rgba(74,190,120,1) 100%);
    padding: 1.25rem;
}
#arreglosFlores > div, #floresPlantas > div, #otros > div, .mensaje > p { /* TODO EN UNA lÃNEA */
    margin-top: 0.9375rem;
}

.botones > input{
    font-size: 15px; 
    border: 0;
    width: 5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(57,125,84,1) 0%, rgba(74,190,120,1) 100%);
;
    margin: 8px;
}
.botones > input:hover{
    background: #397D54;


}
.selector > div > .mensaje > label{
    vertical-align: top;
}
label{
    font-family: 'Trocchi', serif;
}
@media only screen and (min-device-width : 360px) and (max-device-width : /*812*/767px) {
    html{
      font-size: 14px;
    }

    .main-content { 
        min-height: calc(100vh - 7.03rem);
    }

    .caja {
        width: 260px;
        height: 20px;
    }

  
    h1{
        font-size: 30px;
        padding-top: 25px;
        margin-left: 5%;
    }
    
    .nube{
        font-size: 10px;
        width: 150px;
        height: 100px;
        border-radius: 40px 0px 40px 0px; 
        -moz-border-radius: 55px 0px 35px 0px; 
        -webkit-border-radius: 60px 0px 60px 0px; 
    }
    .redes > div{
        margin-left: 5px;
    }
    i{
        font-size: 17px;
    }
    i:hover{ 
        font-size: 19px;
    }

    .nombre_formulario > input, .correo > input{
        margin-left: 0;
        margin-top: .25rem;
    }

    .selector > div{ 
        width: 85%;
        margin-top: 0.95rem;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1030px) {
   
    .main-content { 
        min-height: calc(100vh - 8.1rem);
    }

    h1{ 
        font-size: 44px;
        padding-top: 20px;
    }

    .nube{
        font-size: 10px;
        width: 160px;
        height: 130px;
        border-radius: 40px 0px 40px 0px; 
        -moz-border-radius: 80px 0px 80px 0px; 
        -webkit-border-radius: 60px 0px 60px 0px; 
    }

    .redes > div{
        margin-left: 5px;
    }
    i{
        font-size: 20px;
    }
}
  @media only screen and (min-device-width : 1450px) {
    html{
        font-size: 18px;
      }
    .main-content{
        padding-top: 6%;
        padding-bottom: 6%;
    }
    h3{
        font-size: 20px;
        margin-top: 15px;
    }
  }
