
.main-content{
    background-color: #a4a8a6;
    padding: 2%;
}
.contenedor{
    background-color: #4abe78;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: -10px 10px 10px gray;
    align-items: flex-start;
}
fieldset{
    border: 0;
    padding: 0;
}
.gradiente{
    width: 100%;
    align-self: start;
    height: 20px;
    background:  linear-gradient(90deg, rgba(57,125,84,1) 0%, rgba(91,194,132,1) 10%, rgba(36,88,57,1) 25%, rgba(89,199,133,1) 40%,
    rgba(51,106,73,1) 55%, rgba(74,190,120,1) 70%, rgba(34,113,65,1) 85%, rgba(127,244,173,1) 100%);
    
}
.encargo{
    width: 80%;
}
.nube{
    background: rgb(127,244,173);
    background: linear-gradient(225deg, rgba(127,244,173,1) 0%, rgba(34,113,65,1) 51%);
    overflow: hidden;
    padding: 0px;
    width: 230px;
    height: 140px;
    float: left;
    border-radius: 50px 0px 50px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 50px 0px 50px 0px; 
    
    box-shadow: -4px 3px 5px #227141;
}
.duda{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.duda > div{
    margin-top: 5px;
}
.redes{
    display: flex;
}
.redes > div{
    margin-left: 10px;
}
i{
    float: left;
    margin-top: 0.625rem;
    font-family: none;
    color: black;
    width: 100%;
    font-size: 30px;
}
i:hover{
    
    font-size: 35px;
}


#arreglosFlores{
    display: none;
}
#floresPlantas{
    display: none;
}
#otros{
    display: none;
}

#radio1:checked ~ #arreglosFlores {
    display: block;
}
  
#radio2:checked ~ #floresPlantas {
    display: block;
}
  
#radio3:checked ~ #otros {
    display: block;
}
#radio3:checked ~ .contenedor {
    height: 0;
}

h1{
    margin-left: 4%;
}
.rellenar > div{
    margin-top: 10px;
    margin-left: 5%;
    
}
.botones{
    margin: 20px;
}
.s>input{
    margin-top: 3px;
}

.s > div{
    border-top: 20px rgb(74,190,120); solid;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    background: linear-gradient(90deg, rgba(74,190,120,1) 0%, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 73%, rgba(74,190,120,1) 100%);
    padding: 20px;

}
.m{
    
}
#arreglosFlores > div{
    margin-top: 15px;
    text-align: ;
}
#floresPlantas > div{
    margin-top: 15px;
}
#otros > div{
    margin-top: 15px;
}
.m > p{
    margin-top: 15px;

}
