*{
    margin: 0;
}
.footer{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    background-color:#397D54 ;
}

.footer > div{
    color: white;
    margin: 15px;
    

}