*{
    margin: 0;
}
.footer{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 2.8125rem;
    width: 100%;
    background-color:#397D54 ;
}

.footer > div{
    color: white;
    font-family: 'Merienda', cursive;
    margin: 0.9375rem;
    

}
@media only screen and (min-device-width : 360px) and (max-device-width : 812px) {
    .footer > div{
        margin-left: 4px;
        font-size: 9px;
    }
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1030px) {
    html{
      font-size: 16px;
    }
    .footer > div{
        font-size: 12px;
    }
    
  }