*{
    margin: 0;
}
header{
    height: 3.125rem;
    background-color: #397D54;
}
.nombre{
    width: 90%;
    padding: 0.5rem;
}
h2{
    color: white;
    font-size: 25px;
    font-family: 'Merienda', cursive;
}
.nav:hover{
    background-color: #73C088;
}
nav ul {
    width: 7.1875rem;
    top: 0;
    right: 0;
    position: absolute;
    padding: 0;
    list-style: none;
    background-color: #397D54;
    z-index: 3;
}
nav a {
    display: block;
    padding: 1em;
    background-color: #397D54;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Trocchi', serif;
    text-align: center;
}
nav a:hover {
    background-color: #73C088;
}
nav ul li ul {
    display: none;
    top: 3.124rem;
    right: 0;
}
nav ul li a:hover + ul, nav ul li ul:hover  {
    display: block;
}
@media only screen and (min-device-width : 360px) and (max-device-width : 768px) {
    html{
        font-size: 14px;
    }
    h2{
        font-size: 20px;
    }
    nav a {
        padding: 13px;
        font-size: 13px;
    }
    
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1030px) {
    nav a {
        padding: 15px;
    }
  }
  @media only screen and (min-device-width : 1450px) {
    html{
        font-size: 18px;
      }
    nav a {
        padding: 17px;
    }
    
  }
 