

.main-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.slider{
    width: 31.25rem;
    height: 35rem;
    margin: 0 ;
    overflow: hidden;
    box-shadow: 5px 0px 5px #397D54;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slider 20s infinite alternate;
}
.slider li{
    list-style: none;
    width: 100%;
}
.centro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}
.texto{
    text-align: center;
    margin-top: 6.25rem ;
    margin-bottom: 3.4375rem;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    font-size: 3.125rem;
    color: #04662B;
    font-family: 'Marck Script', cursive;

    
    
}
.texto > p {
    margin-top: 0.625rem;
    font-size: 1.5625rem;
    color: #539D73 ;
}
.presentacion{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.presentacion > div{
    background-color:#397D54;
    width: 11.25rem;
    height: 11.25rem;
    margin: 1.25rem;
    margin-left: 3.125rem;
}
.presentacion > div:hover{
    background-color: #73C088;

}

.presentacion .caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    box-shadow: 4px 4px 3px black;
}
.presentacion .caja a{
    text-decoration: none;
    text-align: center;
}


.foto > img{
    width: 8.125rem;
    height: 6.25rem;
    margin: 0.1875rem;
    border-radius: 3%;
}

.producto{
    color: white;
    margin: 0.1875rem;
    font-family: 'Merienda', cursive;
}
.descripcion{
    color: white;
    margin: 0.1875rem;
    text-align: center;
    font-size: 0.875rem;
    font-family: 'Trocchi', serif;
}


@keyframes slider{
    0%{ margin-left: 0;}
    20%{margin-left: 0;}

    25%{ margin-left: -155%;}
    45%{margin-left: -155%;}

    50%{ margin-left: -320%;}
    70%{margin-left: -320%;}

    75%{ margin-left: -440%;}
    100%{margin-left: -440%;}
}
@media only screen and (min-device-width : 360px) and (max-device-width : 768px) {
    html{
      font-size: 14px;
    }
    .slider{
        width: 100%;
        height: 200px;
    }
    .texto{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 2px;
        margin-right: 2px;
    }
    @keyframes slider{
        0%{ margin-left: 0;}
        20%{margin-left: 0;}
    
        25%{ margin-left: -220%;}
        45%{margin-left: -220%;}
    
        50%{ margin-left: -410%;}
        70%{margin-left: -410%;}
    
        75%{ margin-left: -575%;}
        100%{margin-left: -575%;}
    }
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1030px) {
    html{
      font-size: 15px;
    }
    .slider{
        margin: 0 auto;
        width: 500px;
        height: 35rem;
        box-shadow: -9px 9px 30px #397D54;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .texto{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 2px;
        margin-right: 2px;
        
    }
    @keyframes slider{
        0%{ margin-left: 0;}
        20%{margin-left: 0;}
    
        25%{ margin-left: -155%;}
        45%{margin-left: -155%;}
    
        50%{ margin-left: -320%;}
        70%{margin-left: -320%;}
    
        75%{ margin-left: -440%;}
        100%{margin-left: -440%;}
    }
  }