*{
    margin: 0;
}
.contenedor{
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #374d65;
    box-shadow: 0px 10px 10px 9px gray;
}
.principal img{
    width: 100%;
    
}
.principal{
    height: 25rem;
    overflow: hidden;
}
.titulo{
    text-align: center;
    margin: 2.5rem;
    font-size: 60px;
    color: white;
    font-family: 'Marck Script', cursive;
}
.texto{
    text-align: center;
    margin: 2%;
}
.texto > p {
  padding: 0.625rem;
  font-family: 'Trocchi', serif;
  color: wheat;
}

.imagenes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.rotan{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: center center;
    cursor: pointer;
  }
  
  .rotan:hover {
    transform: rotateY(180deg);
  }
  
  .imagen{
    width: 300px;
    height: 200px;
    perspective: 37.5rem;
    margin-right: 1.875rem;
  }
  
  .cara2{
    background: url(../images/rota1.jpg) no-repeat center center/cover;
    
  }
  
  
  
  .cara1 {
    background: url(../images/rota2.jpg) no-repeat center center/cover;
    transform: rotateY(180deg);
  }

  .cara1, .cara2{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  @media only screen and (min-device-width : 375px) and (max-device-width : 812px) {
    html{
      font-size: 14px;
    }
    .titulo{
      font-size: 30px;
    }
    .principal{
      height: 160px;
    }
    .imagenes{
      display: flex;
      flex-direction: column;
  }
   .imagenes > div{
    margin: 2px;
    margin-bottom: 20px;
   }

  }
  
   
