*{
    margin: 0;
}
.contenedor{
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #374d65;
    box-shadow: 0px 10px 10px 9px gray;
}
.principal img{
    width: 100%;
    
}
.principal{
    height: 25rem;
    overflow: hidden;
}
.titulo{
    text-align: center;
    margin: 2.5rem;
    font-size: 60px;
    color: white;
    font-family: 'Marck Script', cursive;
}
.texto{
    text-align: center;
    margin: 5%;
}
.texto > p {
  padding: 0.625rem;
  font-family: 'Trocchi', serif;
  color: wheat;
}

.imagenes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
}
.rotan{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: center center;
    cursor: pointer;
  }
  
  .rotan:hover {
    transform: rotateY(180deg);
  }
  
  .imagen{
    width: 21.875rem;
    height: 12.75rem;
    perspective: 37.5rem;
    margin-right: 1.875rem;
  }
  
  .cara2{
    background: url(../images/rota1.jpg) no-repeat center center/cover;
    
  }
  
  
  
  .cara1 {
    background: url(../images/rota2.jpg) no-repeat center center/cover;
    transform: rotateY(180deg);
  }

  .cara1, .cara2{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
   
