
.main-content{
    background: linear-gradient( #397D54, #47A06B, #65CB8E, white);
}
.contenedor{
    margin-left: 8%;
    margin-right: 8%;
    background-color:#E6F7EC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    text-align: center;
    padding: 1.875rem;
    font-size: 55px;
    font-family: 'Marck Script', cursive;
}
.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.foto{
    width: 6.25rem;
    height: 6.25rem;
    margin: 0.625rem;
    z-index: 1;
    filter: grayscale(1);

}
.texto > ul > li{
    font-size: 20px;
    text-align: right;
}
.texto{
    width: 5rem;
    height: 55rem;
    margin: 0.625rem;
    background-color: #73C088;
    padding: 0.625rem;
    font-family: 'Trocchi', serif;
}
ul{
    padding: 0;
    list-style: none;
    text-align: center;
}
.caja{
    display: flex;
    justify-content: center;
    position: relative;
    height: calc(12.5rem + 2rem);
    width: calc(25.625rem + 1rem);
    cursor: pointer;
    margin: 0 1rem;
    margin-bottom: 0.625rem;
    background-color: #73C088;
}
.caja:hover > .foto {
    filter: grayscale(0);
    transform: translateX(calc(-6.25rem - .8rem));
  }
  .caja:hover > .texto {
    transform: translateX(calc(6.25rem - .8rem));
  }
  .caja:hover > .tipo {
      opacity: 0;
  }
.caja > div{
    display: inline-block;
    height: 11.25rem;
    width: 11.25rem;
    position: absolute;
    padding: 1rem;
    transition: all 1s ease;
}
.tipo{
    position: relative;
    background-color: #73C088;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    transition: all 1.5s ease;
    font-family: 'Merienda', cursive;
    font-size: 20px;
    z-index: 2;
    margin-top: 20%;
}

.foto.arreglos {
    background: url(../images/arreglosflorales.jpg)  no-repeat center center/cover;
}
.foto.flores {
    background: url(../images/flores.jpg)  no-repeat center center/cover;
}
.foto.plantas {
    background: url(../images/plantas.jpg)  no-repeat center center/cover;
}
.foto.otros {
    background: url(../images/otros.jpg)  no-repeat center center/cover;
}

@media only screen and (min-device-width : 360px) and (max-device-width : 812px) {
    html{
        font-size: 14px;
    }
    .caja > div{
        height: 100px;
        width: 100px;
    }
    .texto > ul > li{
        font-size: 15px;
        text-align: right;
    }
    .caja:hover > .foto {
        filter: grayscale(0);
        transform: translateX(calc(-70px - 12px));
      }
    .caja:hover > .texto {
        transform: translateX(calc(70px - 12px));
      }
      .caja{
        height: calc(120px + 32px);
        width: calc(410px + 16px);
    }
    .titulo{
        font-size: 40px;
    }
    .tipo{
        font-size: 15px;
    }
    .foto{
        margin-left: 13px;
    
    }
    
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1030px) {
    html{
      font-size: 15px;
    }
    .tipo{
        margin-top: 25%;
    }
    .caja{
        height: calc(230px + 43px);
        width: calc(390px + 23px);
    }
    .caja > div{
        height: 220px;
        width: 220px;
    }
    
  }
  @media only screen and (min-device-width : 1450px) {
    html{
        font-size: 18px;
      }
      .titulo{
        font-size: 70px;
      }
      .caja > div{
        height: 280px;
        width: 280px;
    }
    .caja{
        height: calc(295px + 43px);
        width: calc(590px + 23px);
    }
  }