
.main-content{
    background: linear-gradient( #397D54, #47A06B, #65CB8E, white);
}
.contenedor{
    margin-left: 10%;
    margin-right: 10%;
    background-color:#E6F7EC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    text-align: center;
    padding: 20px;
    font-size: 40px;
}
.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.foto{
    width: 100px;
    height: 100px;
    margin: 10px;
    z-index: 1;

}
.texto > ul > li{
    font-size: 20px;
    text-align: right;
}
.texto{
    width: 80px;
    height: 880px;
    margin: 10px;
    background-color: #73C088;
    padding: 10px;
}
ul{
    padding: 0;
    list-style: none;
    text-align: center;
}
.caja{
    display: flex;
    justify-content: center;
    position: relative;
    height: calc(200px + 2rem);
    width: calc(410px + 1rem);
    cursor: pointer;
    margin: 0 1rem;
    margin-bottom: 10px;
    border: double black 5px;
}
.caja:hover > .foto {
    filter: grayscale(1);
    /*left: 1rem;*/
    transform: translateX(calc(-100px - .8rem));
  }
  .caja:hover > .texto {
    transform: translateX(calc(100px - .8rem));
  }
.caja > div{
    display: inline-block;
    height: 180px;
    width: 180px;
    position: absolute;
    padding: 1rem;
    transition: all 1s ease;
}


.foto.arreglos {
    background: url(../images/arreglosflorales.jpg)  no-repeat center center/cover;
}
.foto.flores {
    background: url(../images/flores.jpg)  no-repeat center center/cover;
}
.foto.plantas {
    background: url(../images/plantas.jpg)  no-repeat center center/cover;
}
.foto.otros {
    background: url(../images/otros.jpg)  no-repeat center center/cover;
}